body {
    overflow: hidden;
}

.dialogBox {
    margin: 0 auto;
    margin-top: 100px;
    background-color: black;
    border: solid white 2px;
    width: 800px;
    height: 300px;
    display: none;
}

.dialogBox p {
    color: white;
    font-family: Overpass Mono;
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
    padding: 60px;
}

.buttonContainer {
    text-align: center;
}

.buttonNext,
.buttonBack {
    margin-top: 50px;
    background-color: white;
    font-family: Overpass Mono;
    font-weight: bolder;
    border: none;
    height: 50px;
    width: 200px;
    margin-left: 60px;
    margin-right: 60px;
}

.buttonBack {
    display: none;
}

.buttonNext:hover,
.buttonBack:hover {
    background-color: #03fa6e;
    cursor: pointer;
}

.buttonContainer p {
    margin-top: 10px;
    font-family: Overpass Mono;
    font-weight: bolder;
    color: white;
}

.note {
    background-color: black;
    border: solid 1px white;
    height: 250px;
    width: 250px;
    float: left;
    margin-left: 150px;
    text-align: center;
    display: none;
}

.note p {
    font-family: Overpass Mono;
    font-weight: bolder;
    font-size: 18px;
    color: white;
    padding: 50px;
}

.note button {
    font-family: Overpass Mono;
    font-weight: bolder;
    width: 100%;
    height: 30px;
    float: right;
    background-color: white;
}

.note button:hover {
    background-color: #03fa6e;
    cursor: pointer;
}

.hud {
    margin: 0 auto;
    text-align: center;
    background-color: black;
    border: 2px solid white;
    height: 50px;
    width: 500px;
    margin-top: 10px;
    opacity: 0;
}

.hud p {
    color: white;
    font-family: Overpass Mono;
    font-weight: bolder;
}